trigger:
- main

variables:
  # Замініть на ім'я вашого ACR (наприклад, smartgovcontainerregistry.azurecr.io)
  acrRegistry: 'smartgovcontainerregistry.azurecr.io'
  imageRepository: 'smartgov-nginx-test'
  dockerfilePath: '$(Build.SourcesDirectory)/Dockerfile'
  # Ім'я Service Connection
  acrServiceConnection: 'azure-subscription-connection'
  
stages:
- stage: Build
  displayName: Build and Push Image
  jobs:
  - job: Build
    displayName: Build
    pool:
      vmImage: 'ubuntu-latest'
    steps:
    - task: Docker@2
      displayName: Build and push image to ACR
      inputs:
        containerRegistry: '$(acrServiceConnection)'
        repository: '$(imageRepository)'
        command: 'buildAndPush'
        Dockerfile: '$(dockerfilePath)'
        tags: '$(Build.BuildId)'

- stage: Deploy
  displayName: Deploy to Azure Web App
  dependsOn: Build
  jobs:
  - deployment: DeployWebApp
    displayName: Deploy Web App
    pool:
      vmImage: 'ubuntu-latest'
    strategy:
      runOnce:
        deploy:
          steps:
          - task: AzureWebAppContainer@1
            displayName: 'Deploy Nginx Test Container'
            inputs:
              azureSubscription: '$(acrServiceConnection)'
              appName: 'ВАШЕ_WEB_APP_NAME'
              imageName: '$(acrRegistry)/$(imageRepository):$(Build.BuildId)'
